QListWidget {
    border: 15px solid white;
    border-radius: 10px;
}

QListWidget::item {
    background-color: transparent;
    border-bottom: 1px solid #dbdbdb;
}

QListWidget::item:hover {
    background-color: transparent;
    padding: 10px;
    border-left: 3px solid #828282;
}
QScrollBar:vertical {  
    border: none; /* 移除边框 */  
    background: transparent; /* 背景透明 */  
    width: 10px; /* 滚动条宽度 */  
    margin: 0px 0px 0px 0px; /* 上下左右的外边距 */  
}  
  
QScrollBar::handle:vertical {  
    background: rgb(210,210,210); /* 滑块颜色 */  
    min-height: 20px; /* 滑块最小高度 */  
    border-radius: 5px; /* 圆角 */  
}  
  
QScrollBar::add-line:vertical {  
    background: transparent; /* 上下按钮背景 */  
    height: 0px; /* 按钮高度 */  
    subcontrol-position: bottom; /* 按钮位置 */  
    subcontrol-origin: margin;  
}  
  
QScrollBar::sub-line:vertical {  
    background: transparent; /* 上下按钮背景 */  
    height: 0px; /* 按钮高度 */  
    subcontrol-position: top; /* 按钮位置 */  
    subcontrol-origin: margin;  
}  
  
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {  
    background: none; /* 滑动区域背景 */  
}  
  
/* 横向滚动条样式 */  
QScrollBar:horizontal {  
    border: none;  
    background: transparent;  
    height: 10px;  
    margin: 0px 0px 0px 0px;  
}  
  
QScrollBar::handle:horizontal {  
    background:rgb(210,210,210);  
    min-width: 20px;  
    border-radius: 5px;  
}  
  
QScrollBar::add-line:horizontal {  
    background: transparent;  
    width: 0px;  
    subcontrol-position: right;  
    subcontrol-origin: margin;  
}  
  
QScrollBar::sub-line:horizontal {  
    background: transparent;  
    width: 0px;  
    subcontrol-position: left;  
    subcontrol-origin: margin;  
}  
  
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {  
    background: none;  
}












QScrollBar:vertical:hover {  
    border: none; /* 移除边框 */  
    background: transparent; /* 背景透明 */  
    width: 10px; /* 滚动条宽度 */  
    margin: 0px 0px 0px 0px; /* 上下左右的外边距 */  
}  
  
QScrollBar::handle:vertical:hover {  
    background:rgb(190,190,190); /* 滑块颜色 */  
    min-height: 20px; /* 滑块最小高度 */  
    border-radius: 5px; /* 圆角 */  
}  
  
QScrollBar::add-line:vertical:hover {  
    background: transparent; /* 上下按钮背景 */  
    height: 0px; /* 按钮高度 */  
    subcontrol-position: bottom; /* 按钮位置 */  
    subcontrol-origin: margin;  
}  
  
QScrollBar::sub-line:vertical:hover {  
    background: transparent; /* 上下按钮背景 */  
    height: 0px; /* 按钮高度 */  
    subcontrol-position: top; /* 按钮位置 */  
    subcontrol-origin: margin;  
}  
  
QScrollBar::add-page:vertical:hover, QScrollBar::sub-page:vertical:hover {  
    background: none; /* 滑动区域背景 */  
}  
  
/* 横向滚动条样式 */  
QScrollBar:horizontal:hover {  
    border: none;  
    background: transparent;  
    height: 10px;  
    margin: 0px 0px 0px 0px;  
}  
  
QScrollBar::handle:horizontal:hover {  
    background:rgb(190,190,190);  
    min-width: 20px;  
    border-radius: 5px;  
}  
  
QScrollBar::add-line:horizontal:hover {  
    background: transparent;  
    width: 0px;  
    subcontrol-position: right;  
    subcontrol-origin: margin;  
}  
  
QScrollBar::sub-line:horizontal:hover {  
    background: transparent;  
    width: 0px;  
    subcontrol-position: left;  
    subcontrol-origin: margin;  
}  
  
QScrollBar::add-page:horizontal:hover, QScrollBar::sub-page:horizontal:hover {  
    background: none;  
}
