QListWidget {
    background-color: #fafafa;
    border: 10px solid #fafafa;
    border-radius: 10px;
    outline: none;
}

QListWidget::item {
    background-color: transparent;
    border-bottom: 1px solid #dbdbdb;
}

QListWidget::item:hover {
    background-color: transparent;
    border-left: 3px solid #979696;
    padding: 10px;
}

QListWidget::item:selected {
    background-color: transparent;
    border-left: 3px solid #828282;
    padding: 10px;
}

QPushButton {
    background-color: #f8f9fa;
    color: #222222;
    border: 1px solid #dee2e6;
    padding: 4px 4px;
    border-radius: 5px;
}

QPushButton:hover {
    background-color: #e9ecef;
    border-color: #adb5bd;
}

QPushButton:pressed {
    background-color: #dee2e6;
}

QLineEdit, QTextEdit, QPlainTextEdit {
    background-color: #ffffff;
    color: #222222;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    padding: 8px;
    selection-background-color: #557697;
    selection-color: #ffffff;
}

QCheckBox, QRadioButton, QLabel {
    color: #222222;
}

/* 整个垂直滚动条区域样式 */
QScrollBar:vertical, QScrollBar:horizontal {
    border: none;
    background: transparent;
    margin: 0px;
    width: 6px;
    border-radius: 3px;
}

QScrollBar:vertical:hover, QScrollBar:horizontal:hover {
    background: rgba(0, 0, 0, 0.05);
}

/* 滑块样式 */
QScrollBar::handle:vertical, QScrollBar::handle:horizontal {
    background: rgb(210, 210, 210);
    min-height: 20px;
    width: 6px;
    border-radius: 3px;
    margin: 0px;
}

QScrollBar::handle:vertical:hover, QScrollBar::handle:horizontal:hover {
    background: rgb(190, 190, 190);
}

/* 隐藏上下的箭头按钮 */
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical, QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal {
    border: none;
    background: none;
}

/* 滑块 和add-line/sub-line 之间的区域 */
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical, QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    border: none;
    background: none;
}

QMenu {
    background-color: #ffffff;
    color: #222222;
    border-radius: 5px;
    border: 1px solid #dee2e6;
    padding: 5px;
}

QMenu::item {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 5px;
    min-height: 10px;
    color: #212529;
}

QMenu::item:selected {
    background-color: #e9ecef;
    border-color: #adb5bd;
}

QMenu::separator {
    height: 1px;
    background-color: #dee2e6;
    margin: 4px 8px;
}

QPushButton#infoPushButton {
    background: transparent;
    border: none;
    outline: none;
}

QWidget#CustomToolTip {
    background-color: #fafafa;
}