QListWidget {
    background-color: #222222;
    border: 10px solid #444857;
    border-radius: 10px;
    outline: none;
}

QListWidget::item {
    background-color: transparent;
    border-bottom: 1px solid #dbdbdb;
}

QListWidget::item:hover {
    background-color: transparent;
    border-left: 3px solid #c8c7c7;
    padding: 10px;
}

QListWidget::item:selected {
    background-color: transparent;
    border-left: 3px solid #e8e8e8;
    padding: 10px;
}

QPushButton {
    background-color: #2d2d2d;
    color: #ffffff;
    border: 1px solid #495057;
    padding: 4px 4px;
    border-radius: 6px;
}

QPushButton:hover {
    background-color: #3d3d3d;
    border-color: #6c757d;
}

QPushButton:pressed {
    background-color: #495057;
}

QLineEdit, QTextEdit, QPlainTextEdit {
    background-color: #1a1a1a;
    color: #e9ecef;
    border: 1px solid #495057;
    border-radius: 6px;
    padding: 8px;
    selection-background-color: #557697;
    selection-color: #ffffff;
}

QCheckBox, QRadioButton, QLabel {
    color: #ffffff;
}

/* 整个垂直滚动条区域样式 */
QScrollBar:vertical, QScrollBar:horizontal {
    border: none;
    background: transparent;
    margin: 0px;
    width: 6px;
    border-radius: 3px;
}

QScrollBar:vertical:hover, QScrollBar:horizontal:hover {
    background: rgba(0, 0, 0, 0.05);
}

/* 滑块样式 */
QScrollBar::handle:vertical, QScrollBar::handle:horizontal {
    background: #495057;
    min-height: 20px;
    width: 6px;
    border-radius: 3px;
    margin: 0px;
}

QScrollBar::handle:vertical:hover, QScrollBar::handle:horizontal:hover {
    background: rgb(150, 150, 150);
}

/* 隐藏上下的箭头按钮 */
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical, QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal {
    border: none;
    background: none;
}

/* 滑块 和add-line/sub-line 之间的区域 */
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical, QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    border: none;
    background: none;
}

QMenu {
    background-color: #1a1a1a;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #495057;
    padding: 5px;
}

QMenu::item {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 5px;
    min-height: 10px;
    color: #e9ecef;
}

QMenu::item:selected {
    background-color: #3d3d3d;
    border-color: #6c757d;
}

QMenu::separator {
    height: 1px;
    background-color: #495057;
    margin: 4px 8px;
}